<h1>Deixe sua mensagem</h1>

<%= error_messages_for :message %>

<% form_for(@message) do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Manda!!" %>
  </p>
<% end %>
