<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Senha:</b>
  [Você não estava achando que nós mostraríamos a senha aqui]
</p>

<%= link_to 'Quero alterar', edit_user_path(@user) %> |
<%= link_to 'OK. Volta', users_path %>
